table {
  margin: 0 -10px;
}

tr,
td {
  transition: all 0.2s ease-in-out;
}

tr:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

table.w-full {
  width: calc(100% + 20px) !important;
}

table.w-full tr td:first-child {
  padding-left: 10px;
}

table.w-full tr td:last-child {
  padding-right: 10px;
}
